
<%- include("header") -%>

<h2>Welcome to my Login System <%= name %></h2>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>



<%- include("footer") -%>
